

{%extends 'all-photos/base.html'%}
 {% block content %}


<div class="row">
    {% for photos_item in photos %}
    <div class="col-md-4">
        <div class="scale">
            <div class="opacity">
                <div class="view">
                    <a href="" class="btn-view">image</a>
                </div>
            </div>


           <a  class="img-fluid myimage" href="{{image.id}}"> <img src="{{photos_item.image.url}}"></a>
            
            
            <h4>Link to this Image:<span><input id="myInput" type="text" value="https://personalgallery007.herokuapp.com/image/{{image.id}}"><a href="#" class="btn" onclick="myFunction()">copy</a></span></h4>
            
            
            

                <div class="container">
                    
                       
                    <button

                    id='details'
        
                    data-description='{{pic.description}}'
        
                    data-location='{{pic.location}}'
        
                    data-category='{{pic.category}}'
        
                    
        
                    type="button"
        
                    class="btn btn-info btn-xs info-btn"
        
                    data-toggle="modal">
                                 View Details
        
                  </button>

                  <div id="modal-details" class="modal">

                    <span class="close">&times;</span>
          
                    <div class="modal-content">
          
                    <!-- <blockquote id="caption-d"> -->
          
                      <ul>
          
                        <label>DESCRIPTION:</label>
          
                        <li class="oneone"></li>
          
                        <label>LOCATION:</label>
          
                        <li class="twotwo"></li>
          
                        <label>CATEGORY:</label>
          
                        <li class="threethree"></li>
          
                        
          
                      </ul>
          
                    <!-- </blockquote> -->
                    </div>
          
                  </div>
            
              </div> 

          </div>
    
    </div>
    {% endfor %}
</div>


{% endblock %}